{{define "base"}}
<html>
<head>
<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div id="page-container">
        <div id="header">
            <span id="proj-name"><a href="/">LXDepot</a></span>
            <span id="page-btn">{{template "pagebtn" .}}</span>
        </div>
        <div id="menu">
            <ul>
                <li><a href="/containers"{{if eq .Page "containers"}} class="active" {{end}}>Containers</a></li>
                <li><a href="/images"{{if eq .Page "images"}} class="active" {{end}}>Images</a></li>
                <li><a href="/hosts"{{if eq .Page "hosts"}} class="active" {{end}}>Hosts</a></li>
            </ul>
        </div>
        <div id="content">
            {{template "content" .}}
        </div>

        <div id="panel-container">
            <div id="panel-menu"><span id="panel-controls" onclick="togglePanel()">&and;</span></div>
            <div id="panel"></div>
        </div>
    </div>
</body>
<script>
function sendWSData(action, data) {
    var panel = document.getElementById("panel");
    var ws = new WebSocket("ws://"+window.location.host+"/ws");
    var failure = false;
    ws.onopen = function(e) {
        showPanel();
        ws.send(JSON.stringify({action: action, data: data}));
    }
    ws.onmessage = function(msg) {
        var data = JSON.parse(msg.data);
        if (data.ID) {
            var msgrow = document.getElementById(data.ID);

            if (msgrow == null) {
                msgrow = document.createElement("div");
                msgrow.id = data.ID;

                var m = document.createElement("span");
                m.innerHTML = data.Message + " ... ";
                m.className = "message";
                msgrow.appendChild(m);

                var s = document.createElement("span");
                msgrow.appendChild(s);

                panel.appendChild(msgrow);
                panel.scrollTo(0, panel.scrollHeight);
            }
            else {
                if (data.Success) {
                    msgrow.children[1].className = "success";
                }
                msgrow.children[1].innerHTML = data.Message;
            }

            if (!data.Success) {
                failure = true;
                msgrow.className = "error"
            }
        }

        if (data.Redirect && data.Redirect !== "" && ! failure) {
            window.location = data.Redirect;
        }
    }
    ws.onclose = function(e) {
        if (! failure) {
            setTimeout(hidePanel, 3000);
        }
    }
}

function togglePanel() {
    var panel = document.getElementById("panel");
    if (panel.style.display == "block") {
        hidePanel();
    } else {
        showPanel();
    }
}

function showPanel() {
    var panel = document.getElementById("panel");
    panel.style.display = "block";
    document.getElementById("panel-controls").innerHTML = "&or;";
}

function hidePanel() {
    var panel = document.getElementById("panel");
    panel.style.display = "none";
    panel.innerHTML = "";
    document.getElementById("panel-controls").innerHTML = "&and;";
}

</script>
{{template "js" .}}
</html>
{{end}}
