{{define "content"}}
<table border=0>
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{.Container.Container.Name}}</td>
        </tr>
        {{if ne (index .Conf.DNS.Options "zone") ""}}
        <tr>
            <td>FQDN</td>
            <td>{{.Container.Container.Name}}.{{index .Conf.DNS.Options "zone"}}</td>
        </tr>
        {{end}}
        <tr>
            <td>IP Address</td>
            <td>
            {{range $iface, $info := .Container.State.Network}}
                {{if (ne $iface "lo")}}
                    {{range $info.Addresses}}
                        {{if (eq .Family "inet")}}
                            {{.Address}} ({{$iface}})<br/>
                        {{end}}
                    {{end}}
                {{end}}
            {{end}}
            </td>
        </tr>
        <tr>
            <td>Host</td>
            {{if and 0 (ge (len .Conf.LXDhosts) 1) (ne (index .Container.Container.ExpandedConfig "user.lxdepot_lock") "true")}}
            <!-- Yes the 0 here is intentional to hide the move button -->
                <td>
                    <select size="1" id="hostSelect">
                    {{range .Conf.LXDhosts}}
                        {{if eq .Host $.Container.Host.Host}}
                            <option value="{{.Host}}" selected>{{.Name}}</option>
                        {{else}}
                            <option value="{{.Host}}">{{.Name}}</option>
                        {{end}}
                    {{end}}
                    </select>
                    <button id="moveBtn">Move Container</button>
                </td>
            {{else}}
                {{range .Conf.LXDhosts}}
                    {{if eq .Host $.Container.Host.Host}}
                        <td>{{.Name}}</td>
                    {{end}}
                {{end}}
            {{end}}
        </tr>
        <tr>
            <td>Image</td>
            <td>{{index .Container.Container.ContainerPut.Config "image.description"}}</td>
        </tr>
        <tr>
            <td>CPU</td>
            <td>{{printf "%.02f" (index .Container.Usage "cpu")}}%%</td>
        </tr>
        <tr>
            <td>Memory</td>
            <td>{{MakeIntBytesMoreHuman .Container.State.Memory.Usage}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{.Container.Container.Status}}</td>
        </tr>
        {{if ne (index .Container.Container.ExpandedConfig "user.lxdepot_lock") "true"}}
            {{if eq .Container.Container.Status "Running"}}
                {{if .Playbooks}}
                    <tr>
                        <td>Playbooks</td>
                        <td>
                            <select size="1" id="playbook">
                            {{range .Playbooks}}
                                <option value="{{.}}">{{.}}</option>
                            {{end}}
                            </select>
                            <button id="playbookBtn">Run Playbook</button>
                        </td>
                    </tr>
                {{end}}
            {{end}}
        {{end}}
    </tbody>
</table>
{{if ne (index .Container.Container.ExpandedConfig "user.lxdepot_lock") "true"}}
    <div class="field">
        {{if eq .Container.Container.Status "Stopped"}}
            <button id="startBtn">Start</button>
        {{end}}
        {{if eq .Container.Container.Status "Running"}}
            <button id="stopBtn">Stop</button>
        {{end}}
        <button id="deleteBtn">Delete</button>
    </div>
{{end}}
{{end}}

{{define "js"}}
<script>
var data = {
    name: "{{.Container.Container.Name}}",
    host: "{{.Container.Host.Host}}"
};

(function() {
    var startBtn = document.getElementById("startBtn");
    if (startBtn !== null) {
        startBtn.addEventListener("click", function(e) {
            sendWSData("start", data);
        });
    }

    var stopBtn = document.getElementById("stopBtn");
    if (stopBtn !== null) {
        stopBtn.addEventListener("click", function(e) {
            sendWSData("stop", data);
        });
    }

    var moveBtn = document.getElementById("moveBtn");
    if (moveBtn !== null) {
        moveBtn.addEventListener("click", function(e) {
            var tmp = data;
            tmp.dst_host = document.getElementById("hostSelect").value;
            if (tmp.dst_host !== tmp.host) {
                sendWSData("move", tmp);
            }
        });
    }

    var playbookBtn = document.getElementById("playbookBtn");
    if (playbookBtn !== null) {
        playbookBtn.addEventListener("click", function(e) {
            var tmp = data;
            tmp.playbook = document.getElementById("playbook").value;
            sendWSData("playbook", tmp);
        });
    }

    document.getElementById("deleteBtn").addEventListener("click", function(e) {
        sendWSData("delete", data);
    });
})();
</script>
{{end}}

{{define "pagebtn"}}
{{end}}
