{{define "content"}}
<table border=0>
    <thead>
        <th>Host</th>
        <th>CPUs</th>
        <th>Memory Used / Total</th>
        <th>Containers Running / Total</th>
    </thead>
    <tbody>
        {{range .Conf.LXDhosts}}
        <tr class="hostRow" id="{{.Host}}">
            <td>{{.Name}}</td>
            <td>{{(index $.HostResourceMap .Host).Resources.CPU.Total}}</td>
            <td>{{MakeBytesMoreHuman (index $.HostResourceMap .Host).Resources.Memory.Used}} / {{MakeBytesMoreHuman (index $.HostResourceMap .Host).Resources.Memory.Total}}</td>
            <td>{{index (index $.HostContainerInfo .Host) "running"}} / {{index (index $.HostContainerInfo .Host) "total"}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}

{{define "js"}}
<script>
function hostRowClick(e) {
    window.location = "/containers/" + this.id;
    e.stopPropogation();
}

(function() {
    var rows = document.querySelectorAll(".hostRow");
    for ( var i = 0; i < rows.length; i++ ) {
        rows[i].addEventListener("click", hostRowClick);
    }
})();
</script>
{{end}}

{{define "pagebtn"}}
{{end}}
