body { margin: 0px; font-family: sans-serif; }
#page-container {
    display: grid;
    grid-template-areas:
        'header header'
        'menu content';
    grid-template-columns: 200px 1fr;
    grid-template-rows: 40px 1fr;
}

#header {
    grid-area: header;
    background-color: #333333;
    color: #f5f5f5;
    line-height: 40px;
    vertical-align: middle;
}
#header a {
    text-decoration: none;
    color: #f5f5f5;
}

#content { grid-area: content; }
#proj-name {
    font-size: 20px;
    padding: 10px;
}

#page-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: #888888;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #ececec;}

#menu {
    grid-area: menu;
    background-color: #d64b00;
    height: 100vh;
}
#menu ul {
    padding: 0;
    margin: 0;
}
#menu li {
    list-style: none;
    line-height: 40px;
    text-align: center;
}
#menu li:hover {
    background-color: #ff5900;
    cursor: pointer;
}
#menu li a {
    text-decoration: none;
    color: #000000;
    width:100%;
    display: inline-block;
    border-bottom: #333333 1px solid;
    font-weight: bold;
}
#menu li a.active {
    background-color: #ff5900;
}

#panel {
    font-size: 30px;
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 150px;
    overflow-y: scroll;
    display: none;
}
#panel .success { color: green; }
#panel .error { color: red; }

.field {
    margin: 5px 0px 10px 5px;
}

.containerRow {
    cursor: pointer;
}
.hostRow {
    cursor: pointer;
}

label {
    display: block;
    width: 150px;
}
input, select, button {
    font-family : inherit;
    font-size   : 100%;
    width : 150px;
    margin: 0;
    box-sizing: border-box;
}

#deleteBtn {
    background-color: red;
    color: white;
}

.small {
    font-size: .85em;
}

.move-left {
    margin-left: -5px;
}

.quarter {
    width: 25%;
}
